*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
}
.clr{
    clear: both;
}
h2 ,h3 ,h4{
    font-family: font-family: 'Source Sans Pro', sans-serif;
}
.nav-container{
     background-color: #000;
    width: 100%;
    overflow: auto;
     position: fixed;
    top: 0;
    z-index: 100;
}

.nav{
    background-color: #000;
    width: 85%;
    margin: auto;
    padding: 10px;
   
        
}
.nav .logo{
    float: left;
}
.nav .logo a{
    text-decoration: none;
    color:#ff305b;
    font-size: 24px;
    font-weight: 800;
     padding: 20px 0;

}

.nav .nav-menu {
    float: right;
}

.nav .nav-menu ul{
   list-style: none;

}
.nav .nav-menu ul li {
    padding: 10px;
    float: left;
}
.nav .nav-menu ul li a{
    text-decoration: none;
    color: #fff;
     font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 20px 0;
    transition: color 0.5s;
}
.nav .nav-menu ul li a:hover{
    color: #ff305b;
}
.nav .nav-menu ul .home a{
    color: #ff305b;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 20px 0;
}



.main{
    background-image: url(../img/slider/slider-01.jpg);
    background-size: cover;
    height: 725px;
}
.main  .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.main .header{
    text-align: center;
    position: relative;
    top: 300px;
}
.main .header .hello{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;

}
.header .my-Btn
{
	padding: 20px 20px;
	margin-top: 40px;
	font-size: 20px;
	border-radius: 50%;
	border: none;
	color: crimson;
}
.main .header h1{
     color: #ff305b;
    font-size: 70px;
    font-weight: bold;
    padding: 10px;
}


.main .header  h4{
    text-align: center;
    font-size: 26px;
    font-weight: 100;
    color: #fff;
    position: relative;
   
}
@media screen and (max-width:991px){
    .main .header  h4{
        width: 90%;
    }
}
@media screen and (max-width:991px){
    .main .header  h4{
        font-size: 18px;
    }
}
.main .header  h4:after{
    content: " Desiner Developer";
    position: absolute;
    top: 0;

    
   
 animation: words 3s   infinite ;    
}

@keyframes words{
   
0% {content:' |';}
2% {content:' D |';}
4% {content:' De |';}
6% {content:' Des |';}
8% {content:' Desi |';}
10% {content:' Desig |';}
12% {content:' Design |';}
14% {content:' Designe |';}
16% {content:' Designer |';}
18% {content:' Designer |';} 
20% {content:' Designer |';}
22% {content:' Designer |';}
24% {content:' Designer |';}
26% {content:' Designer |';}
23% {content:' Designer |';}
28% {content:' Designer |';}
30% {content:' Designe |';}
32% {content:' Design |';}
34% {content:' Desig |';}
36% {content:' Desi |';}
38% {content:' Des |';}
40% {content:' De |';}
42% {content:' D |';}
44% {content:'  |';}
46% {content:'  |';}
48% {content:'  |';}
50% {content:' D |';}
52% {content:' De |';}
54% {content:' Dev |';}
56% {content:' Deve |';}
58% {content:' Devel |';}
60% {content:' Develo |';}
62% {content:' Develop |';}
64% {content:' Develope |';}
66% {content:' Developer |';} 
68% {content:' Developer |';}
70% {content:' Developer |';}
72% {content:' Developer |';}
74% {content:' Developer |';}
76% {content:' Developer |';}
78% {content:' Developer |';}
80% {content:' Develope |';}
82% {content:' Develop |';}
84% {content:' Develo |';}
86% {content:' Devel |';}
88% {content:' Deve |';}
90% {content:' Dev |';}
92% {content:' De |';}
94% {content:' D |';}
96% {content:'  |';}
100% {content:'  |';}


}




.about{
    padding: 50px 0px;
    
}
.about .about-container{
    width: 85%;
    margin: auto;
    padding: 50px 0px;
}
.about .profile{
    width: 40%;
    float: left;
    padding: 0px 30px;
}
@media screen and (max-width:768px){
    .about .profile {
        width: 100%;
    } 
}
.about .profile .img-container{
  
    border: 8px solid #333333;
    border-radius: 5px;
 
}
@media screen and (max-width:991px){
    .about .profile .img-container{
        border: none;
    } 
}
@media screen and (max-width:991px){
    .about .profile .profile-img{
     top: 0;
    left: 0;
    } 
}
.about .profile .profile-img{

    border-radius: 5px;
    margin: auto;
    position: relative;
    top: 24px;
    left: 24px;

}


.about .profile .profile-img img{
    width: 100%;
}
.about .profile .profile-img .social{
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.57);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: height 0.5s ,opacity 0.5s;
}
.about .profile .profile-img:hover .social{
    height: 100%;
    opacity: 1;
}
.about .profile .profile-img .social a{
    color: #fff;
    font-size: 16px;
    padding: 10px;
    position: relative;
    top: 50%;
    transition: color 0.5s;

}
.about .profile .profile-img .social a:hover{
    color: #ff305b;
}



.about .about-desc{
    width: 60%;
    float: right;
     padding:20px;
    
}
.about .about-desc h2{
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    padding-left: 15px;
}
.about .about-desc h2:after{
    content: "";
    width: 4px;
    height: 100%;
    background-color: #ff305b;
    position: absolute;
    top: 0;
    left: 0;
    
}
.about .about-desc .about-rdam{
    color: #999999;
    border-bottom: 1px dashed #999999;
    padding-bottom: 20px;
    line-height: 25px;
    
}
.about .about-desc .info{
    padding: 20px 0px ;
    overflow: auto;
    
}

.about .about-desc .info p span{
    font-weight: bold;
    color: #333333;
}
.about .about-desc .info p{
    color: #555555;
    float: left;
    width: 40%;
    margin-bottom: 20px;
}
.about .about-desc .info p a{
    text-decoration: none;
    color: #555555;
}
.about .about-desc .links a{
   text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    background-color: #ff305b;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 1s;
}
.about .about-desc .links a:hover{
    background-color: #f00;
}
@media screen and (max-width:768px){
    .about .about-desc {
        width: 100%;
        margin-top: 30px;
    }
}



.services{
    background-color: #f1f1f1;
    text-align: center;
    padding: 50px 0px;
    
}
.services h2{
     font-size: 40px;
    font-weight: 800;
    padding-bottom: 30px;
    margin: 20px 0px;
    position: relative;
}
.services h2:after{
    content: "";
    width:80px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 47%;
     border-top: 1px solid #ff305b; 
    border-bottom: 1px solid #ff305b;
}

.services h2:before{
    content: "";
    width:160px;
    height: 1px;
    position: absolute;
    bottom: 5px;
    left: 44%;
    background-color: #ff305b;
}
.services .serv-container{
    width: 85%;
    margin: auto;
    overflow: auto;
}
.services .serv-container .service{
    width:25%;
    float: left;
    padding: 30px 15px;
    border-radius: 5px;
    transition: background-color 0.5s;
    
    }
@media screen and (max-width:991px){
    .services .serv-container .service{
        width:50%;
    } 
}
@media screen and (max-width:600px){
    .services .serv-container .service{
        width:100%;
    } 
}
.services .serv-container .service i{
    font-size: 36px;
    margin: 20px;
    color: #ff305b;
    transition: font-size 0.3s ease-in-out;
}
.services .serv-container .service h3{
    font-size:  24px;
    font-weight: 600;
    margin: 20px 0px;
}
.services .serv-container .service p{
    font-size: 18px;
    line-height: 25px;
    color: #555555;
}
.services .serv-container .service:hover {
    background-color: #fff;
     box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    
}

.services .serv-container .service:hover i{
    transform: scale(1.2,1.2);
}

.portfolio{
    padding: 50px 0px;
}
.portfolio .porto-header{
    text-align: center;
}
.portfolio .porto-header h2{
    font-size: 40px;
    font-weight: 800;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
.portfolio .porto-header h2:after{
    content: "";
    width:80px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 47%;
    border-top: 1px solid #ff305b; 
    border-bottom: 1px solid #ff305b;
}

.portfolio .porto-header h2:before{
    content: "";
    width:160px;
    height: 1px;
    position: absolute;
    bottom: 5px;
    left: 44%;
    background-color: #ff305b;
}
.portfolio .list{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}
.portfolio .list a{
    text-decoration: none;
    color: #333333;
    padding: 10px;
}
.portfolio .list .all{
     color: #ff305b;
}
.portfolio .images{
    width: 85%;
    margin: auto;
    overflow: auto;
}
.portfolio .images .img-container{
    width: 33.333%;
    padding: 10px;
    float: left;

}
@media screen and (max-width:991px){
    .portfolio .images .img-container{
        width:50%;
    } 
}
@media screen and (max-width:600px){
    .portfolio .images .img-container{
        width:100%;
    } 
}
.portfolio .images .img-container .img-fa{
    position: relative
}

.portfolio .images .img-container img{
    width: 100%;
}
.portfolio .images .img-container .layer{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: visibility 0.5;
  
}
.portfolio .images .img-container:hover .layer{
    visibility: visible;
}
.counter{
    background-color: #f1f1f1;
    padding: 50px 0px;
}
.counter .items{
    width: 85%;
    margin: auto;
    overflow: auto;
    text-align: center;

}
.counter .items .item{
    width: 25%;
    float: left;
    padding: 30px 0px;
 
}
@media screen and (max-width:991px){
    .counter .items .item{
        width:50%;
    } 
}
@media screen and (max-width:600px){
    .counter .items .item{
        width:100%;
    } 
}
.counter .items .item i{
    font-size: 28px;
    color: #ff305b;
    margin-bottom: 15px;
}
.counter .items .item .num{
    font-size: 24px;
    font-weight: 800;
    color: #333;
    margin-bottom: 15px;
    
        
}
.counter .items .item h5{
    font-size: 16px;
    color: #555555;
}

.feedback{
    padding: 80px 0px;
}
.feedback .feed-header{
    text-align: center;
    padding-bottom: 50px;
}

.feedback .feed-header h2{
    font-size: 40px;
    font-weight: 800;
    padding: 20px;
    position: relative;
}
.feedback .feed-header h2:after{
    content: "";
    width:80px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 47%;
     border-top: 1px solid #ff305b; 
    border-bottom: 1px solid #ff305b;
}

.feedback .feed-header h2:before{
    content: "";
    width:160px;
    height: 1px;
    position: absolute;
    bottom: 5px;
    left: 44%;
    background-color: #ff305b;
}
.feedback .container{
    background-color: #f1f1f1;
    width: 55%;
    margin: auto;
    position: relative;
    overflow: hidden;
   z-index: -2;
    border-radius: 5px;
    
}
.feedback .container .feeds{
    padding: 20px;
    
}
.feedback .container .feeds .back{
   
    padding: 10px;
    overflow: auto;
    
}
.feedback .container .back .back-text{
    float: right;
     width: 65%;
}

.feedback .container .back .back-text h3{
    font-size: 24px;
    margin: 10px 0px;
}
.feedback .container .back .back-text h4{
    font-size:17px;
    color: #777777;
}
.feedback .container .back .back-text p{
    font-style: italic;
    line-height: 25px;
    color: #999999;
    padding: 10px 0px;
}
.feedback .container .back .icons i{
    padding: 10px 2px;
    color: #f1c928;
}
.feedback .container .side{
    background-color: #ff305b;
    width: 200px;
    height: 200px;
    transform: skewY(-45deg);
    position: absolute;
    top: -120px;
    left: 0;
    z-index: -1;
}

.feedback .container .back  .client-img{
    width: 35%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
    background-image: url(img/testimonial/2.jpg);
    background-size: cover;
    float:left;
}
@media screen and (max-width:768px){
    .feedback .container .back  .client-img , .feedback .container .back  .back-text{
        float: none;
        margin: auto;
    }
}
@media screen and (max-width:768px){
    .feedback .container .back  .back-text{
        float: none;
        margin: auto;
        width: 90%;
    }
}

.blog{
    background-color:  #f1f1f1;
    padding: 50px 0px;
     
}
.blog .blog-header{
    text-align: center;
}

.blog .blog-header h2{
    font-size: 40px;
    font-weight: 800;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}
.blog .blog-header h2:after{
    content: "";
    width:80px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 45%;
     border-top: 1px solid #ff305b; 
    border-bottom: 1px solid #ff305b;
}

.blog .blog-header h2:before{
    content: "";
    width:160px;
    height: 1px;
    position: absolute;
    bottom: 5px;
    left: 40%;
    background-color: #ff305b;
}
.blog .blogs{
    width: 85%;
    margin: auto;
    padding: 20px 0px;
    overflow: auto;
    
}
.blog .blogs .blog-container{
    width: 33.333%;
    padding: 15px;
    float: left;
}
@media screen and (max-width:600px){
    .blog .blogs .blog-container{
        width:100%;
    } 
}
@media screen and (max-width:768px){
    .blog .blogs .blog-container{
        width:50%;
    } 
}
.blog .blogs .blog-container .blog-item{
    background-color: #fff;
}
.blog .blogs .blog-container a img ,.blog .blogs .blog-container iframe{
width: 100%;
}
.blog .blogs .blog-container p{
    font-size: 16px;
    line-height: 25px;
    color: #555555;
    padding: 15px 20px;
}
.blog .blogs .blog-container a{
    text-decoration: none;
    color: #333;
    transition: color 0.3s;

}
.blog .blogs .blog-container a:hover{
    color: #ff305b;
}
.blog .blogs .blog-container a h3{
    font-size: 22px;
    color: #333;
    padding-left: 20px;
    transition: color 0.3s;
    
}
.blog .blogs .blog-container a h3:hover{
    color: #ff305b;
}
.blog .blogs .blog-container .blog-item .link{
    display: block;
    padding: 10px 20px 20px 20px;
}
.blog .blogs .blog-container .blog-item .link i{
    font-size: 24px;
}

.contact{
    padding: 50px 0px;
}
.contact .cont-header{
    text-align: center;
}
.contact .cont-header h2{
    font-size: 40px;
    font-weight: 800;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
.contact .cont-header h2:after{
    content: "";
    width:80px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 47%;
     border-top: 1px solid #ff305b; 
    border-bottom: 1px solid #ff305b;
}

.contact .cont-header h2:before{
    content: "";
    width:160px;
    height: 1px;
    position: absolute;
    bottom: 5px;
    left: 44%;
    background-color: #ff305b;
}
.contact .inputs{
    width: 50%;
    margin: auto;
    padding: 20px 0px;
    overflow: auto;
}
.contact .inputs .name{
    width: 45%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 30px;
    
}
.contact .inputs .email{
    width: 45%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: right;
    margin-bottom: 30px;
    
}
.contact .inputs .subject{
     width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0px;
}
.contact .inputs textarea{
     width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0px;
}
.contact .inputs .submit{
    padding: 15px 20px;
    background-color: #ff305b;
    margin: 10px 0px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.5s;
    border: none;
        
}
.contact .inputs .submit:hover{
    background-color: #f00;
}



.footer{
    padding: 60px 0px;
    text-align: center;
    background-color: #333;
}
.footer .links{
    
}
.footer .links a{
     color: #fff;
    font-size: 18px;
    padding: 10px;
    transition: color 0.5s;

}
.footer .links a:hover{
    color: #ff305b;
}
.footer p{
    padding: 10px;
    color: #fff;
    font-weight: 400;
    
}
.footer p span{
    color: #ff305b;
}




